body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:314px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u3 {
  position:absolute;
  left:52px;
  top:0px;
  width:310px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u5 {
  position:absolute;
  left:362px;
  top:0px;
  width:88px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:52px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u9 {
  position:absolute;
  left:52px;
  top:30px;
  width:310px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u11 {
  position:absolute;
  left:362px;
  top:30px;
  width:88px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:97px;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:52px;
  height:97px;
}
#u14 {
  position:absolute;
  left:2px;
  top:40px;
  width:48px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:97px;
}
#u15 {
  position:absolute;
  left:52px;
  top:60px;
  width:310px;
  height:97px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:97px;
}
#u17 {
  position:absolute;
  left:362px;
  top:60px;
  width:88px;
  height:97px;
}
#u18 {
  position:absolute;
  left:2px;
  top:40px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:76px;
}
#u19 {
  position:absolute;
  left:0px;
  top:157px;
  width:52px;
  height:76px;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:48px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:76px;
}
#u21 {
  position:absolute;
  left:52px;
  top:157px;
  width:310px;
  height:76px;
  text-align:left;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:306px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u23 {
  position:absolute;
  left:362px;
  top:157px;
  width:88px;
  height:76px;
}
#u24 {
  position:absolute;
  left:2px;
  top:30px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:76px;
}
#u25 {
  position:absolute;
  left:0px;
  top:233px;
  width:52px;
  height:76px;
}
#u26 {
  position:absolute;
  left:2px;
  top:30px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:76px;
}
#u27 {
  position:absolute;
  left:52px;
  top:233px;
  width:310px;
  height:76px;
  text-align:left;
}
#u28 {
  position:absolute;
  left:2px;
  top:30px;
  width:306px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u29 {
  position:absolute;
  left:362px;
  top:233px;
  width:88px;
  height:76px;
}
#u30 {
  position:absolute;
  left:2px;
  top:30px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
